# SPDX-FileCopyrightText: Contributors to atlite <https://github.com/pypsa/atlite>
#
# SPDX-License-Identifier: CC0-1.0

*~
*.py[cod]
.~*
__pycache__
.ipynb_checkpoints
doc/_build/
build/
dist/
.eggs
atlite.egg-info/
test/*.nc
dev-scripts/
dev/
examples/*.nc
examples/*.csv
examples/*.zip
examples/*.tif
atlite/version.py
paper
.coverage*
!.coveragerc

# Ignore IDE project files
.idea/
.vscode
*.csv
.cutout/
.data/
cutouts/China-2020.nc
cutouts/germany-2012.nc
data/resources/pv_factor-china-2020.nc
data/resources/wind_factor-china-2020.nc
